<div class="flex">
  <h1>Codyglot REPL</h1>
  <div class="language pure-form">
    <select [(ngModel)]="language">
      <option *ngFor="let language of languages" [value]="language.key">{{language.name}}</option>
    </select>
  </div>
  <button class="pure-button run" (click)="runClick()" [disabled]="executing">
    <span *ngIf="!executing">▶</span>
    <app-loading *ngIf="executing"></app-loading>
    Run
  </button>
  <div class="time" *ngIf="compilationTime">Compiled in {{compilationTime / 1000000 | number:'1.0-2'}}ms</div>
  <div class="time" *ngIf="runningTime">Ran in {{runningTime / 1000000 | number:'1.0-2'}}ms</div>
</div>
